---
const title = "New Hardwicke Website";
const date = "07/10/2023";
const author = "Reece Farrell";
import postImage from "../../../src/images/website-blog.png";
const description = "Hardwicke FC win the treble with a nail biting season.";
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
---

<Layout title="New Hardwicke Website" />

<header class="container">
  <div class="content">
    <h2 class="heading">{title}</h2>
    <p class="text">by {author} • {date}</p>
    <Image class="image" src={postImage} alt="New Website Made For Hardwicke" />
    <p class="text">
      The new and official website for Hardwicke FC has now launched bringing
      you information on the team, players and coaches. This is version 3.0 of
      the website offering new features like the "Blog" and design updates. The
      website has also being built using a framework called Astro which ensures
      the site runs smoothly and responsively. Build 1.0 and 2.0 both had major
      improvements from the last but still had many bug issues which have been
      fixed in 3.0.<br /><br /> The website started being developed in December
      of 2022 and has went through many stages since.
    </p>
    <a href="/blog/blog.html"><button>Return To Blogs</button></a>
  </div>
</header>
<Footer />
<style>
  .heading {
    color: var(--main-color);
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
  }

  .text {
    text-align: center;
    color: var(--text-color-dark);
  }

  .image {
    display: flex;
    width: 80%;
    height: auto;
    border: solid 5px var(--secondary-color);
    margin-left: auto;
    margin-right: auto;
  }

  a {
    text-decoration: none;
  }
</style>
