---
const title = "AUL";
const date = "09/10/2023";
const author = "Anthony Perry";
import postImage from "../../../src/images/aul-uncut.png";
const description = "Hardwicke FC win the treble with a nail biting season.";
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import BlogLayout from "../../layouts/BlogLayout.astro";
---

<Layout title="Hardwicke FC Win The Treble" />
<BlogLayout />

<header class="container">
  <div class="content">
    <h2 class="heading">{title}</h2>
    <p class="text">by {author} • {date}</p>
    <Image class="image" src={postImage} alt="Athletic Union League" />
    <p class="text">
      Hardwicke FC are proud to be part of the AUL football league, a league
      based in Dublin with top talents from around the county. It is one of the
      biggest football junior leagues in ireland and on its last count there
      wore approximately 130 teams and 4,000 players throughout all of its
      leagues. We, at Hardwicke are proud of our relatioship with the Athletic
      Union League and plan on continuing this relationship for many years to
      come. <br /><br />
      <span
        ><a href="http://www.aul.ie/homepage.aspx?oid=1001"
          >Visit the official AUL page</a
        ></span
      >
    </p>
    <a href="/blog/blog.html"><button>Return To Blogs</button></a>
  </div>
</header>
<Footer />
