<div class="container">
  <div class="content">
    <img
      class="trophy-image"
      src="../public/images/trophy-about-us.png"
      alt=""
    />
    <div class="text">
      <h3>About Us</h3>
      <p>
        Founded in 2004, Hardwicke is one of the top football teams in Dublin
        City Center playing in the Premier A division in the AUL. We are based
        in Hardwicke Street flats in Dublin 1 in the north inner-city and play
        our matches in Dublin Port Stadium (Stella Maris).<br />
        <br />Winning the league in the 2021/2022 season, Hardwicke have many
        accomplishments as an inner-city football club and we bring brilliance
        to the pitch every single game we play. Hardwicke will continue to
        deliver excellence with our very wide range of highly skilled players.<br
        /><br />Hardwicke have won 10 league titles and 14 cups and continue to
        push to add more to the tally.<br /><br />

         We train twice a week and our matches are on Fridays.
      </p>
    </div>
  </div>
</div>

<style>
  .container {
    background-color: var(--main-color);
    width: 100%;
    height: 100%;
    margin-top: 0%;
  }

  .trophy-image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    border: solid 5px var(--third-color);
  }

  h3,
  p {
    color: var(--text-color-light);
  }

  /*media*/
  @media only screen and (min-width: 1000px) {
    .container {
      display: grid;
      min-height: 600px;
      max-height: 800px;
      padding-bottom: 5%;
    }
    .content {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: repeat(5, 100px);
      padding-top: 2%;
      padding-bottom: 2%;
    }
    .text {
      grid-column-start: 4;
      grid-column-end: 9;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    .trophy-image {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 5;
      width: 300px;
    }
    h3 {
      text-align: left;
    }
  }
</style>
