<div class="container">
  <div class="content">
    <div class="img-container">
      <img
        class="liddy-cup-winners"
        src="../public/images/liddy-cup-winners.png"
        alt=""
      />
    </div>
    <h3>Liddy Cup Winners 2023!</h3>
    <p>
      What a game of football this was for Hardwicke FC vs Phoenix FC. Hardwicke
      wore down 1-0 in the 16th minute and Ryan King equalised less than two
      minutes later. Both teams had many chances for the rest of the first half
      and the second half and both defences stood tall. This led to a penalty
      shootout were Hardwicke won 6-5 and the equalising goalscorer, Ryan King
      stood up and burried the final peno in the bottom right corner. What a way
      to do it!
      <br /><br />

       Matchday sponsor : Horizon Windows.
    </p>
  </div>
</div>

<style>
  .container {
    height: 100%;
    background-color: var(--third-color);
  }

  .img-container {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .liddy-cup-winners {
    width: 100%;
    border: solid 5px var(--secondary-color);
  }

  h3,
  p {
    color: var(--text-color-dark);
  }
  /*media*/
  @media only screen and (min-width: 701px) {
    .content {
      padding-bottom: 2%;
    }
  }
</style>
